@model DAL.Entrada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entrada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumicion.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumicion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discoteca.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discoteca.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
