@model IEnumerable<DAL.Entrada>

@{
    ViewBag.Title = "Index";
}

<div ng-include="'/SPA/Views/ToolBar.html'"></div>

<div class="container">

    <h2>Módulo de gestión de entradas</h2>


    <p>
        @Html.ActionLink("Nueva entrada", "Create", new { @class = "btn btn-default" })
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumicion.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discoteca.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumicion.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discoteca.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.CodEntrada, coddisco = item.CodDiscoteca }, new { @class = "btn btn-default" }) 
                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.CodEntrada, coddisco = item.CodDiscoteca })*@
                </td>
            </tr>
        }

    </table>
    <br />

    <a href="/PrecioEntradas" class="btn btn-success">Gestion de precios</a>
    <br />
    <br />

</div>
