
@model IEnumerable<DAL.PrecioEntrada>

@{
    ViewBag.Title = "Index";
}

<div ng-include="'/SPA/Views/ToolBar.html'"></div>

<div class="container">
<h2>Gestión de precios</h2>

<p>
    @Html.ActionLink("Create New", "Nuevo precio")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entrada.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puntos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Entrada.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puntos)
        </td>

        <td>
            @Html.ActionLink("Edit", "Editar", new { /* id=item.PrimaryKey */ }) |
           @Html.ActionLink("Delete", "Eliminar", new { disco=item.CodDiscoteca,entrada=item.CodEntrada,fecha=item.FechaInicio })
        </td>
    </tr>
    }

</table>
    </div>