@model IEnumerable<DAL.Producto>

@{
    ViewBag.Title = "Index";
}

<div ng-include="'/SPA/Views/ToolBar.html'"></div>
<div class="container">
    <h2>Gestión de productos</h2>

    <p>
        @Html.ActionLink("Nuevo producto", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Discoteca.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discoteca.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</div>